// nav{
//     color: tomato;
// }

// nav a{
//     font-size: 8px;
// }

// nav li{
//     margin-left: 20px;
// }

nav {
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }
    li {
      display: inline-block;
    }
    a {
      display: block;
      padding: 6px 12px;
      text-decoration: none;
    }
  }